@import "~@fortawesome/fontawesome-free/css/all.css";

        html, body {
            height: 100%;
            font-family: Arial, sans-serif;
            background-image: url('../assets/Background.jpg'); /* Set the background image URL */
            background-size: cover; /* Scale the image to cover the entire viewport */
            background-repeat: no-repeat; /* Prevent the image from repeating */
            background-attachment: fixed; /* Fixed background, doesn't scroll with content */
            margin: -10px;
            padding: -10px;
        }
        





        .rounded-button {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: #e46b08;
            color: #fff;
            padding: 10px 20px;
            border-radius: 25px;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }
        
        .rounded-button:hover {
            background-color: #e49b08;
        }



    .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e46b08;
    padding-top: 20px;
    overflow-x: hidden;
    
    width: 50px;
    overflow: hidden;
    transition: width 0.5s ease;
}

.sidebar.expanded {
    width: 250px;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: block;
    transition: 0.5s;
}


.sidebar a:hover {
    background-color: #555;
}

.sidebar .sidebar-text {
    display: none;
}

.sidebar .sidebar-text {
    display: none;
}

.sidebar.expanded .sidebar-text {
    display: inline;
    margin-left: 10px; /* Adjust the margin as needed */
}

.content {
    margin-left: 270px; /* Adjusted to accommodate the sidebar */
    padding: 16px;
}
        
        /* For small screens (e.g., mobile devices) */
        @media (max-width: 768px) {
        html, body {
        padding: 0;
        background-attachment: scroll; /* Allow background image to scroll with content */
        }

        
        .container {
        padding: 10px; /* Adjust padding for smaller screens */
        }
        
        /* Add more specific styling for smaller screens as needed */
        }
        

        
        h1 {
            margin: 0;
        }
        
        nav {
            margin-top: 20px;
        }
        
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        
        nav li {
            display: inline;
            margin-right: 20px;
        }
        
        .container {
            max-width: 960px;
            margin: 0 auto;
            padding: 20px;
        }
        
        .project {
            background-color: #fff;
            padding: 20px;
            margin: 20px 0;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        
        .project h2 {
            color: #333;
        }
        
        .project p {
            color: #666;
        }
       