<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My online CV</title>
        <link rel="stylesheet" type="text/css" href="app.component.css"> <!-- Link to app.component.css -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap"> <!-- Fonts -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    </head>


<body>

    <!-- Button in the top right corner ------------------------------------------------------------------------------------------------------------------------->

    <div class="social-icons">
        <a href="https://www.instagram.com/" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>


    <!-- Button in the top right corner ------------------------------------------------------------------------------------------------------------------------->
    <button class="rounded-button" (click)="smoothScrollToElement('contact')">Contact me</button>

    


    <!-- Sidebar ------------------------------------------------------------------------------------------------------------------------------------------------>
    <div class="sidebar" [ngClass]="{'expanded': isSidebarExpanded}" (mouseenter)="expandSidebar()" (mouseleave)="collapseSidebar()">
        <a (click)="smoothScrollToElement('about')"><i class="fas fa-user"></i> <span class="sidebar-text">About Me</span></a>
        <a (click)="smoothScrollToElement('work')"><i class="fa-solid fa-briefcase"></i> <span class="sidebar-text">My Work Experience</span></a>
        <a (click)="smoothScrollToElement('skills')"><i class="fas fa-code"></i> <span class="sidebar-text">My Skillsets</span></a>
        <a (click)="smoothScrollToElement('education')"><i class="fas fa-graduation-cap"></i> <span class="sidebar-text">Education</span></a>
        <a (click)="smoothScrollToElement('languages')"><i class="fas fa-language"></i> <span class="sidebar-text">Language</span></a>
        <a (click)="smoothScrollToElement('certs')"><i class="fas fa-certificate"></i> <span class="sidebar-text">Certificates</span></a>
        <a (click)="smoothScrollToElement('licenses')"><i class="fas fa-car"></i> <span class="sidebar-text">Driving Licenses</span></a>
        <a (click)="smoothScrollToElement('contact')"><i class="fas fa-envelope"></i> <span class="sidebar-text">Contact</span></a>
    </div>
    
    <div class="content" [style.marginLeft]="isSidebarExpanded ? '250px' : '0'"> </div>

    <!-- Starting Section -------------------------------------------------------------------------------------------------------------------------------------->
    <div class="starting_page" id="about">
        <h1>Welcome to my online CV</h1>
            <p>Hello! </p>
            <p>
                I'm Carlo, 
                a passionate and dedicated IT professional with a focus on enhancing workplace technology. 
                I'm currently working as a workplace admin and engineer. 
                I thrive on the opportunity to create seamless and efficient IT environments that empower businesses and individuals to excel.
            </p>
            <img src="/assets/Profilbild.png" alt="image">
    </div>

    <!-- Sections --------------------------------------------------------------------------------------------------------------------------------------------->
    <div class="container" >
        <div class="project" id="work">
            <h2> <i class="fa-solid fa-briefcase"></i>  My work experience</h2>
            <p>03/2023 - Today: BKW Energie AG, Bern, Workpalce Admininistration and Engineering</p>
            <p>09/2020 – 03/2023: BKW Energie AG, Bern,  IT-Support 1st/2nd </p>
            <p>09/2019 – 12/2019:SBB AG Informatik, Bern, Junior Projektassistent</p>
            <p>08/2018 – 07/2019: SBB AG Bildung, Bern, Praktikum Dienstleistung & Administration</p>
        </div>

        <div class="project" id="skills">
            <h2><i class="fas fa-code"></i>  My skills</h2>
            <p>Microsoft Intune (Client-Management, Policies, Automation, Security, Application-Deployment)</p>
            <p>Microsoft Entra ID (RBAC, Identiy, Contiational Access, MFA)</p>
            <p>On-Premises AD</p>
            <p>Microsoft 365 (Exchange, Office-Suite) </p>
            <p>PowerShell Scripting</p>
            <p>Networking (Proxy, Firewall, VPN, DHCP...)</p>
            <p>Printing</p>
            <p>ITIL (Incident-Mgmt, Change-Mgmt, Escalation-Mgmt)</p>
        </div>

        <div class="project" id="education">
            <h2><i class="fas fa-graduation-cap"></i>  Education</h2>
            <p>2021 - Today: Bachelor of Science Wirtschaftsinformatik</p>
            <p>EFZ Kaufmann</p>
            
        </div>

        <div class="project" id="languages">
            <h2><i class="fas fa-language"></i>  Languages</h2>
            <p>German - Mother tounge</p>
            <p>Englisch - Fluently written and spoken</p>
            <p>French - Understand and speaking, written with simple vocabulary</p>
            <p>HTML - Beginner</p>
            <p>CSS - Beginner</p>
            <p>PowerShell - Intermediate</p>
            <p>Python - Beginner</p>
            <p>TypeScript - Beginner</p>
        </div>


        <div class="project" id="certs">
            <h2><i class="fas fa-certificate"></i>  Certificates</h2>
            <div class="certificate-box">
                <p>AZ900: Azure Fundamentals</p>
                <div class="certificate-content">
                    <img src="/assets/AZ900_Badge.png" alt="image" class="certificate-image">
                </div>
            </div>
            <p>
                <a href="https://learn.microsoft.com/de-ch/users/carlorthlisberger-4847/transcript/7k1x4cj52m2m10w" target="_blank">
                    MS Certificates Transcript
                </a>
            </p>
        </div>


        <div class="project" id="licenses">
            <h2><i class="fas fa-car"></i>  Driving Licenses</h2>
            <p>Kat. B</p>
            <p>Kat. BE</p>
            <p>Kat. C1</p>
            <p>Kat. C1E</p>
            
        </div>


          <!-- Contact --------------------------------------------------------------------------------------------------------------------------------------------->

          <div class="project" id="contact">
            <h2><i class="fas fa-envelope"></i>  Contact me</h2>
            <a href="mailto:your.email@example.com">carlo.roethlisberger@gmail.com</a>
            <p>Feel free to visit my social media accounts:</p>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram"></i>
                    Instagram   
                </a>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                    LinkedIn
                </a>
            
        </div>
        
    </div>


  
</body>
</html>