@import "~@fortawesome/fontawesome-free/css/all.css";
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html, body {
    height: 100%;
    font-family: 'Times', sans-serif; 
    background-image: url('../assets/Background.jpg'); /* Set the background image URL */
    background-size: cover; /* Scale the image to cover the entire viewport */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Fixed background, doesn't scroll with content */
    margin: -10px;
    padding: 50px;

}


.starting_page {
    text-align: center;
    color: white;
}

.starting_page h1 {
    font-size: 48px;
    border-radius: 15px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.starting_page p {
    font-size: 32px;
    border-radius: 15px;
    max-width: 800px;
    margin: 0 auto; /* Add this line to center the text */
    margin-bottom: 100px;
}

.starting_page img{
    border-radius: 10%; 
    width: 400px; 
    height: 600px; 
    margin-top: 20px;
}


h1, p, img {
    opacity: 0; /* Set initial opacity to 0 */
}

h1, p {
    animation: fadeIn 5s ease-out forwards; /* Apply animation to heading and paragraph */
}

img {
    animation: fadeIn 3s ease-out 0.5s forwards; /* Delay image animation for 0.5s */
}
        
        

        .social-icons {
            position: fixed;
            top: 20px;
            right: 150px; /* Adjust this value to position the icons accordingly */
            display: flex;
            align-items: center;
        }

        .social-icons i {
            font-size: 24px;
            margin-right: 10px;
            color: #e46b08; /* Adjust the color to match your button */
            cursor: pointer;
        }



        .rounded-button {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: #e46b08;
            color: #fff;
            padding: 10px 20px;
            border-radius: 25px;
            border: none;
            cursor: pointer;
            font-size: 16px;
        }
        
        .rounded-button:hover {
            background-color: #e49b08;
        }



    .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e46b08;
    padding-top: 20px;
    overflow-x: hidden;
    
    width: 50px;
    overflow: hidden;
    transition: width 0.5s ease;
}

.sidebar.expanded {
    width: 250px;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: block;
    transition: 0.5s;
}


.sidebar a:hover {
    background-color: #555;
}

.sidebar .sidebar-text {
    display: none;
}

.sidebar .sidebar-text {
    display: none;
}

.sidebar.expanded .sidebar-text {
    display: inline;
    margin-left: 10px; /* Adjust the margin as needed */
}

.content {
    margin-left: 270px; /* Adjusted to accommodate the sidebar */
    padding: 16px;
}
        

        

        
        h1 {
            margin: 0;
        }
        
        nav {
            margin-top: 20px;
        }
        
        nav ul {
            list-style-type: none;
            padding: 0;
        }
        
        nav li {
            display: inline;
            margin-right: 20px;
        }
        
        .container {
            max-width: 960px;
            margin: 0 auto;
            padding: 20px;
        }
        
        .project {
            background-color: #fff;
            padding: 20px;
            margin: 20px 0;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        
        .project h2 {
            color: #333;
        }
        
        .project p {
            color: #666;
        }


        .certificate-box {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 10px;
            overflow: hidden;
            margin-bottom: 20px; /* Adjust as needed */
        }
        
        .certificate-content {
            display: flex;
            align-items: center;
        }
        
        .certificate-image {
            max-width: 100px; /* Adjust the size as needed */
            margin-right: 10px; /* Adjust the spacing between image and text as needed */
        }


        /* Media Query for smaller screens --------------------------------------------------------------------------------------------------------------------- */
        @media screen and (max-width: 600px) {
            
        html, body {
            height: 100%;
            font-family: 'Times', sans-serif; 
            background-image: url('../assets/mobile_background.jpg'); /* Set the background image URL */
            }

            .starting_page h1 {
                font-size: 20px;
                border-radius: 15px;
                margin-bottom: 50px;
                margin-top: 50px;
            }
            
            .starting_page p {
                font-size: 15px;
                border-radius: 15px;
                max-width: 500px;
                margin: 0 auto; /* Add this line to center the text */
                margin-bottom: 50px;
            }
            
            .starting_page img{
                border-radius: 10%; 
                width: 200px; 
                height: 300px; 
                margin-top: 20px;
            }
            
            
            .sidebar {
              display: none;
            }
          
        
            

        }
          

        
      