<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My online CV</title>
    <link rel="stylesheet" type="text/css" href="app.component.css">


</head>
<body>
    <header>
        <h1>My online CV</h1>
        <nav>
            <ul>
                <li><a href="#about">About Me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>


    <div class="sidebar">
        <a href="#about">About Me</a>
        <a href="#skills">Skills</a>
        <a href="#contact">Contact Me</a>
    </div>
    

    <div class="container" id="about">
        <img src="/assets/test.jpg" alt="image" style="border-radius: 50%; width: 150px; height: 150px; float: left; margin-right: 20px;">
        <h2 style="color: white;">About Me</h2>
        <p style="color: white;">👋 Hello! I'm Carlo, 
            a passionate and dedicated IT professional with a focus on enhancing workplace technology. 
            As a Workplace Engineer, I thrive on the opportunity to create seamless and efficient IT environments that empower businesses and individuals to excel.
        </p>
    </div>

    <div class="container" id="My skills">
        <h2 style="color: white;">Skills</h2>
        <div class="project">
            <h2>Technologies</h2>
            <p>Microsoft Intune</p>
            <p>Microsoft Entra ID</p>
            <p>AD</p>
            <p>Microsoft 365</p>
            <p>PowerShell</p>
        </div>

        <div class="project">
            <h2>Work experience</h2>
            <p>09/2021 – Heute Berner Fachhochschule,
                Studiengang Wirtschaftsinformatik</p>

            <p>09/2020 – 03/2023 BKW Energie AG, Bern
                IT-Support 1st/2nd Level
                • On-Site User Support
                • MS Intune
                • MDM
                • O365 Support
                • AD/ Entra ID (AAD)</p>

            <p>03/2023 - Today</p>
            <p>BKE Energie AG, Bern</p>
            <p>Workplace Engineer</p>
                
        </div>
    </div>

    <div class="container" id="contact">
        <h2 style="color: white;">Contact Me</h2>
        <p style="color: white;">You can reach me at carlo.roethlisberger@gmail.com</p>
    </div>
</body>
</html>