<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My online CV</title>
    <link rel="stylesheet" type="text/css" href="app.component.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">


    


</head>
<body>

    <button class="rounded-button">Contact me</button>

 <div class="sidebar" [ngClass]="{'expanded': isSidebarExpanded}" (mouseenter)="expandSidebar()" (mouseleave)="collapseSidebar()">
    <a href="#about"><i class="fas fa-user"></i> <span class="sidebar-text">About Me</span></a>
    <a href="#work"><i class="fa-solid fa-briefcase"></i> <span class="sidebar-text">My Work Experience</span></a>
    <a href="#skills"><i class="fas fa-code"></i> <span class="sidebar-text">My Skillsets</span></a>
    <a href="#education"><i class="fas fa-graduation-cap"></i> <span class="sidebar-text">Education</span></a>
    <a href="#language"><i class="fas fa-language"></i> <span class="sidebar-text">Language</span></a>
    <a href="#certs"><i class="fas fa-certificate"></i> <span class="sidebar-text">Certificates</span></a>
    <a href="#contact"><i class="fas fa-envelope"></i> <span class="sidebar-text">Contact</span></a>
</div>
    
    <div class="content" [style.marginLeft]="isSidebarExpanded ? '250px' : '0'">
    </div>


    <div class="container" id="about" style="margin-bottom: 2000px; margin-top: 100px">
        <img src="/assets/Profilbild.png" alt="image" style="border-radius: 10%; width: 140px; height: 210px; float: left; margin-right: 20px;">
        <h1 style="color: white;">About Me</h1>
        <p style="color: white;">👋 Hello! I'm Carlo, 
            a passionate and dedicated IT professional with a focus on enhancing workplace technology. 
            I'm currently working as a workplace admin and engineer. 
            I thrive on the opportunity to create seamless and efficient IT environments that empower businesses and individuals to excel.
        </p>
    </div>


    <div class="container" >
        <div class="project" id="work">
            <h2>My work experience</h2>
            <p>SBB</p>
            <p>09/2020 – 03/2023 BKW Energie AG, Bern,  IT-Support 1st/2nd </p>
            <p>Workpalce Admininistration and Engineering</p>
        </div>

        <div class="project" id="skills">
            <h2>My tech skills</h2>
            <p>Microsoft Intune</p>
            <p>Microsoft Entra ID</p>
            <p>AD</p>
            <p>Microsoft 365</p>
            <p>PowerShell</p>
        </div>

        <div class="project" id="education">
            <h2>Education</h2>
            <p>Microsoft Intune</p>
            <p>Microsoft Entra ID</p>
            <p>AD</p>
            <p>Microsoft 365</p>
            <p>PowerShell</p>
        </div>

        <div class="project" id="languages">
            <h2>Languages</h2>
            <p>German - Mother tounge</p>
            <p>Englisch - Fluently written and spoken</p>
            <p>French - Understand and speaking, written with simple vocabulary</p>
            <p>HTML - Beginner</p>
            <p>CSS - Beginner</p>
            <p>PowerShell - Intermediate</p>
            <p>Python - Beginner</p>
            <p>TypeScript - Beginner</p>
        </div>


        <div class="project" id="certs">
            <h2>Certificates</h2>
            <p>Microsoft Intune</p>
            <p>Microsoft Entra ID</p>
            <p>AD</p>
            <p>Microsoft 365</p>
            <p>PowerShell</p>
        </div>



    </div>

    <div class="container" id="contact">
        <h2 style="color: white;">Contact Me</h2>
        <p style="color: white;">You can reach me at carlo.roethlisberger@gmail.com</p>
    </div>
</body>
</html>